@model OC_Express_Voitures.Models.PhotoImportViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @*  <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label>
                <input asp-for="ImageData" class="form-control" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFileName" class="control-label"></label>
                <input asp-for="ImageFileName" class="form-control" />
                <span asp-validation-for="ImageFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFileName" class="control-label"></label>
                <input asp-for="ImageFileName" class="form-control" type="file" accept="image/png, image/jpeg,image/jpg" />
                <span asp-validation-for="ImageFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> *@
        <form asp-action="UploadPhoto" asp-controller="Photos" method="post" enctype="multipart/form-data">
           @*  <div class="form-group">
                <label asp-for="VehicleId"></label>
                <input asp-for="VehicleId" class="form-control" />
            </div>
 *@
            <div class="form-group bg-info" hidden=@ViewData["Disabled"]>
                <label asp-for="VehicleId" class="control-label">Vin</label>
                <select asp-for="VehicleId" class="form-control" asp-items="ViewBag.VehicleId"></select>
            </div>





            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" class="form-control" type="file" accept="image/png, image/jpeg" />
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
